<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta property="og:title" content="名城アオハルコレクション" />
  <meta property="og:site_name" content="名城アオハルコレクション" />
  <meta property="og:image" content="https://res.cloudinary.com/dkisry85c/image/upload/v1565402598/aoharuw_mgfm3j.jpg" />
  <meta property="og:image:type" content="image/jpeg" />
  <meta property="og:image:width" content="400" />
  <meta property="og:image:height" content="300" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/5ac9533b42.js"></script>
  <link rel="stylesheet" href="./css/style.css">
  <title>名城アオハルコレクション</title>
</head>
<body>
  <div class="container-fluid main-image">
    <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 mx-auto text-center links">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <a href="/timeline">アオハルを見る</a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <a href="/new" >アオハルを作る</a>
        </div>
      </div>
    </div>
    </div>
  </div>

</body>
</html>